{% extends 'base.html' %}

{% block head %}
<title>Brand New bank app</title>
{% endblock%}

{% block body %}
<div class="welcome-container">
    <h1>You are logged as {{ user }}</h1>
</div>
{% if tasks|length < 1 %} <p>No Transacions to display</p>
    {% else %}
    <table class="table table-secondary table-hover">
        <tr>
            <th>Transaction ID</th>
            <th>Currency</th>
            <th>Value</th>
            <th>Made by</th>
            <th>Approved by</th>
        </tr>
        {% for item in transactions %}
        <tr>
            <td>er452@@3r6%</td>
            <td>$</td>
            <td>1239.023</td>
            <td>User</td>
            <td>Admin</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
    {% endblock %}