{% extends 'base.html' %}

{% block head %}
<title>Brand New bank app</title>
{% endblock%}

{% block body %}
<div class="welcome-container">
    <h1>You are logged as {{ user }}</h1>
</div>
{% if transactions|length < 1 %} <p>No Transacions to display</p>
    {% else %}
    <table class="table table-secondary table-hover">
        <tr>
            <th>Transaction ID</th>
            <th>Currency</th>
            <th>Value</th>
            <th>Made by</th>
            <th>Approved by</th>
        </tr>
        {% for item in transactions %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.currency }}</td>
            <td>{{ item.value }}</td>
            <td>{{ item.madeby }}</td>
            <td>{{ item.approvedby }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
    {% endblock %}